body{
  background-image: url("../tictactoe-Images/woody.jpg");
  color: white;
}

#myName{
  font-size: 20px;
  color: #E4EDE2;
  font-family: "lobster", cursive;
}
.navbar-inverse{
    background-color: #333333;
    border-color: #000000;
    min-height: 30px !important;
}
.navbar-inverse .navbar-nav > li > a{
  padding: 8px;
  border-right: 2px solid white;
  background-color: #000000;
}
.navbar-inverse .navbar-nav > li:first-child{
  border-left: 2px solid white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #686770;
  color: #FFFFFF;
}
.container{
  margin-top: 50px;
}


#isTable{
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}

#tableFrame{
  display: block;
  margin: auto;
  text-align: center;
}

select{
  color: black;
  border: 3px solid #7B5050;
}

td{
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 70px
}
.rowTwo{
  border-bottom: 5px solid #CA0C0C;
  border-top: 5px solid #CA0C0C;
}
.middle{
  border-left: 5px solid #CA0C0C;
  border-right: 5px solid #CA0C0C;
}
#info{
  background-color: #A78C8C;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 7px;
  color: #FED402;
  border: 5px inset #7B5050;
  display:block;
  margin: auto;
  margin-top:20px;
  width: 250px;
}
div h3{
  font-family: "lobster", cursive;
  color: #DDC8C8;
}

select, #reset{
  border-radius: 5px;
}

#reset{
  margin: 10px;
  background-color: #701414;
}

.mainOrCode{
  display: block;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 40px;
}

.mainOrCode>p{
  display: block;
  margin: 5px 0 5px 0;
}
.mainOrCodeElt{
  display: inline;
  
}

#returnToMain>a, #returnToCode>a{
  color: #8E8786;
  background-color: #333333;
  height: 35px;
  width: 250px;
  display: block;
  margin: 15px auto 15px auto;
  font-size: 16px;
  padding: 5px 30px 5px 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  text-decoration: none;
}
#returnToMain>a:hover, #returnToCode>a:hover{
  color: #FFFFFF;
  background-color:#8E8786 ; 
}
.allContacts{
  color: #EAE3C2;
  font-family: cursive;
  font-size: 12px;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -khtml-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.allContacts p:last-child{
  font-size: 12px;
}
#returnToCode{
  margin-bottom: 100px;
}